body, html {
    height: 100%;
}

body {
    background-color: #eee;
    overflow-y: scroll;
}

#wrapper {
    width: 80%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#wrapper h2 {
    margin-top: 0;
}

#search-number {
    margin-top: 30px;
}

#search-number #SearchNumber {
    width: 350px;
}

#search-number #SearchNumber,
#search-number .btn {
    display: inline-block;
    vertical-align: top;
}

.glyphicon {
    color: #333;
}

.search-link {
    display: block;
}

.search-link:hover .glyphicon {
    color: #428BCA;
}

.t-ac {
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ofAval .glyphicon {
    color: green;
}

.td-order {
    width: 90px;
}

.td-order input[type="text"] {
    width: 40px;
    padding: 2px 6px;
    height: 22px;
    display: inline-block;
}

.td-order button {
    margin-left: 12px;
    cursor: pointer;
    top: 2px;
}

.td-order button:hover {
    color: #428BCA;
}

.td-condensed {
    width: 1%;
}

.nowrap {
    white-space: nowrap;
}

th {
    vertical-align: middle !important;
}

.glyphicon-shopping-cart {
    border: none;
    background-color: transparent;
}

.basket-qty {
    width: 40px;
}

.comment-add {
    height: 18px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.comment-add .glyphicon-comment {
    font-size: 20px;
}

.modal-open {
    overflow-y: scroll;
}

.modal {
    overflow-y: auto;
}

.glyphicon-refresh,
.glyphicon-remove{
    background-color: transparent;
    border: 0;
    outline: none;
}

.glyphicon:hover {
    color: #428BCA;
}

.basket-controls {
    text-align: right;
}

.btn-success .glyphicon {
    color: #fff;
}

.basket-controls form {
    display: inline-block;
    vertical-align: top;
}

.table tfoot td {
    border-right: 0 !important;
    border-left: 0 !important;
}

.cell-stat,
.cell-info {
    text-align: center;
}

.cell-stat .glyphicon ,
.cell-info .glyphicon {
    cursor: pointer;
}

.vlb {
    display: block;
}

.popover {
    width: auto;
    max-width: 550px;
    font-size: 13px;
}

.vl {
    display: block;
    white-space: nowrap;
}

.l-vl {
    display: inline-block;
    margin-right: 10px;
}

.r-vl {
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;
}